a img {border: none;}

#blocoDestaques{
	position: relative;
	width:1100px;
	max-width: 90%;
	height: auto;
}

#blocoDestaques ul,
#blocoDestaques ul li{
	list-style:none;
}

#blocoDestaques,
#blocoDestaques ul,
#blocoDestaques ul li,
#blocoDestaques ul li img{
	margin:0px;
	padding:0px;
	width:1100px;
	max-width: 100%;
	height: auto;
	object-fit: cover;
	object-position:center;
}

#blocoDestaques ul li{
	position:relative;
}

#blocoDestaques ul li div.fundo{
	width:1100px;
	max-width: 100%;
	height: auto;
	position: absolute;
	bottom:0px;
	left:0px;
	background-color: #6CF;
	background-image:url(../imagens/fundo.png);
}

#blocoDestaques ul li p{
	margin:0px;
	padding:10px 15px;
	position:absolute;
	bottom:0px;
	left:0px;
	line-height:20px;
	font-family:Verdana, Arial, sans-serif;
	font-size:14px;
}

#blocoDestaques ul li p a{
	color: #FFF;
	text-decoration: none;
}
#blocoDestaques ul li p a:hover{
	color: #FFF;
	text-decoration: underline;
}
#blocoDestaques a.faixa{
	width:100px;
	height:100px;
	position:absolute;
	top:-5px;
	left:-5px;
	z-index:100;
}
#blocoDestaques div.paginas{
	position:absolute;
	top:5px;
	right:5px;
	z-index:100;
}

#blocoDestaques div.paginas a{
	height:10px;
	width:10px;
	display:block;
	float:left;
	margin-left:2px;
	color: #00C;
	font-size: 0px;
	font-family:Verdana, Arial, sans-serif;
	text-decoration: none;
	text-align:center;
	line-height:20px;
	outline:none;
	border-radius: 20px 20px 20px 20px;
	background-color: #EBF7FE;
}

#blocoDestaques div.paginas a:hover, 
#blocoDestaques div.paginas a.activeSlide{
	font-weight:bold;
	background-color: #FFCC00;
	color: #FFF;
}

#blocoDestaques ul li p,
#blocoDestaques ul li div.fundo {
	display:none; 	
	width: 600px;
	background-image:url(../imagens/fundo.png);
}